@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu&display=swap');
  
  * {
		margin: 0;
		padding: 0;
	}

	.navbar {
		display: flex;
		align-items: center;
    	justify-content: space-between; 
		position: sticky;
		top: 0;
		cursor: pointer;
    	height: 70px;
	}

	.background {
		background: #001858;
		background-size: cover;
	}

	.nav-list {
		width: 70%;
		display: flex;
		align-items: center;
	}

	.logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
    	padding: 0px 30px;
	}

	.logo img {
		width: 80px;
		border-radius: 50px;
	}

  	.logo a {
		text-decoration: none;
		color: #fef6e4;
    	font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
		font-size: 35px;
	}

	.nav-list li a {
		text-decoration: none;
		color: #fef6e4;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
		font-size: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: transform 0.4s;
	}

	.nav-list li {
		padding: 0 20px;
		list-style-type: none; 
	  }
	
	.nav-list li a img {
		width: 50px;
		transition: opacity 0.2s;
	}
	
	.nav-list li a:hover img {
		opacity: 0;
	}
	
	.nav-list li a:hover {
		transform: scale(2) translateY(-40%); 
	}



	.firstsection {
	height: auto;
    display: flex;
    background-image: url('assets/images/home1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
	justify-content: center; 
    text-align: center;
	align-items: center; 
	}

	.secondsection {
		background-color: #fef6e4;
		margin: 0;
		padding: 5%;
		position: relative;
	}
	
	.secondsection::before {
		content: "";
		position: absolute;
		top: -5%;
		left: 0;
		right: 0;
		bottom: -5%;
		background-color: #fef6e4;
		z-index: -1;
	}

  .thirdsection {
    display: flex;
	align-items: center;
	background-color: #fef6e4;
	height: auto;
  }

  .thirdsection a {
    text-decoration: none;
  }
  
  .image-container {
    flex: 1;
    height: 400px;
    display: flex;
    background-image: url('assets/images/home2.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin-left: 200px;
    max-width: 60%;
	justify-content: center; 
    text-align: center;
  }

  .image-container:hover {
    background-image: url('assets/images/home2_1.png');
  }
  
  .text-container {
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box; 
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  .image-container-2 {
    flex: 1;
    height: 400px;
    display: flex;
    background-image: url('assets/images/home3.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin-right: 200px;
    max-width: 60%;
	justify-content: center; 
    text-align: center;
  }
  .image-container-2:hover {
    background-image: url('assets/images/home3_1.png');
  }

  .text-container-2 {
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box; 
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  .image-container-3 {
    flex: 1;
    height: 400px;
    display: flex;
    background-image: url('assets/images/home4.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin-left: 200px;
    max-width: 60%;
	justify-content: center; 
    text-align: center;
  }
  .image-container-3:hover {
    background-image: url('assets/images/home4_1.png');
  }
  
  .text-container-3 {
    flex: 1; 
    padding: 20px; 
    box-sizing: border-box; 
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  

  h1 {
   		color: #fef6e4;
   		font-family: 'Piazzolla', serif;
		font-weight: bold;
		font-size: 80px;
    	display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		margin: 0;
		height: 100%;
}

  h2 {
    	color: #001858;
    	font-family: 'Piazzolla', serif;
		font-weight: bold;
		font-size: 30px;
    	display: flex;
		justify-content: center;
		align-items: center;
		max-width: 50%;
		margin: auto;
		height: 100%;
  }

  h3 {
    	color: #172C66;
    	font-family: 'Piazzolla', serif;
		font-weight: thin;
		font-size: 25px;
    	max-width: 100%;
    	display: flex;
		justify-content: center;
		align-items: center;
  }

  h4 {
    color: #fef6e4;
    font-family: 'Ubuntu', serif;
	font-weight: thin;
	font-size: 60px;
    display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	margin-left: 50px;
	padding: 0;
	height: 100%;
  }


	.firstHalf {
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center; 
		margin-top: 15%;
		margin-bottom: 15%;
	}

	.firstHalf p {
		color: #fef6e4;
   		font-family: 'Piazzolla', serif;
		font-weight: bold;
		display: flex;
		font-size: 20px;
    	display: flex;
		max-width: 100%;
		height: 100%;
	}

	.section {
		height: 400px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 90%;
		margin: auto;
	}


	.text-footer {
		text-align: center;
		padding: 30px 0;
		font-family: 'Ubuntu', sans-serif;
		display: flex;
		justify-content: center;
		color: white;
	}

