@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu&display=swap');
  
  * {
		margin: 0;
		padding: 0;
	}

	.navbar {
		display: flex;
		align-items: center;
    	justify-content: space-between; 
		position: sticky;
		top: 0;
		cursor: pointer;
    	height: 70px;
	}

	.midNav {
		width: 15%;
		text-align: center;
		position: relative;
	}
	
	.midNav p {
		text-decoration: none;
		color: #fef6e4;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
		font-size: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	
	.midNav p:hover {
		transform: scale(1.3);
		color: #172C66;
	}
	
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #fef6e4;
		min-width: 100%;
		box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
		top: 100%;
		left: 0;
		align-items: center;
		justify-content: center;
		margin-top: 8px;
		font-size: 20px;
	}
	
	.dropdown-content a {
		color: #172C66;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
	
	.dropdown-content a:hover {
		background-color: #F582AE;
		color: #fef6e4;
	}
	
	.midNav:hover .dropdown-content {
		display: block;
	}
	

	.background {
		background: #F582AE;
		background-size: cover;
	}

	.nav-list {
		width: 70%;
		display: flex;
		align-items: center;
	}

	.logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
    	padding: 0px 30px;
	}

	.logo img {
		width: 80px;
		border-radius: 50px;
	}

  	.logo a {
		text-decoration: none;
		color: #fef6e4;
    	font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
		font-size: 35px;
	}
	.logo a:hover {
		color: #172C66;
	}

	.nav-list li a {
		text-decoration: none;
		color: #fef6e4;
		font-family: 'Ubuntu', sans-serif;
		font-weight: bold;
		font-size: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		transition: transform 0.4s;
	}

	.nav-list li {
		padding: 0 20px;
		list-style-type: none; 
	  }
	
	.nav-list li a img {
		width: 50px;
		transition: opacity 0.2s;
	}
	
	.nav-list li a:hover img {
		opacity: 0;
	}
	
	.nav-list li a:hover {
		transform: scale(2) translateY(-40%); 
		color: #172C66;
	}

	.firstsection {
	height: 600px;
    display: flex;
    background-image: url('assets/images/listen1.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
	justify-content: center; 
    text-align: center;
	align-items: center; 
	}

	.firstHalf {
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center; 
	}

	.firstHalf p {
		color: #001858;
   		font-family: 'Piazzolla', serif;
		font-weight: bold;
		display: flex;
		font-size: 20px;
    	display: flex;
		max-width: 45%;
		height: 100%;
	}

	.secondsection {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: top;
		height: auto;
		text-align: center;
		background-color: #fef6e4;
	}

	.thirdsection {
		display: flex;
		align-items: center;
		background-color: #fef6e4;
		height: auto;
	  }
	
	  .thirdsection a {
		text-decoration: none;
	  }

	  .image-container1 img{
		flex: 1;
		height: 250px;
		display:inline-block;
		margin-left: 200px;
		max-width: 250px;
		justify-content: center; 
		text-align: center;
		margin-bottom: 60px;
		transition: transform 0.3s; 
	  }
	
	  .image-container1:hover {
		transform: scale(1.1);
	  }

	  .text-container1 {
		flex: 1; 
		box-sizing: border-box; 
		margin-left: 50px;
		margin-right: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center; 
		height: auto;
		margin-bottom: 60px;
	  }

  h1 {
   		color: #172C66;
   		font-family: 'Piazzolla', serif;
		font-weight: bold;
		font-size: 80px;
    	display: flex;
		justify-content: center;
		align-items: center;
		max-width: 100%;
		margin: 0;
		height: 100%;
}

  h2 {
    	color: #172C66;
    	font-family: 'Piazzolla', serif;
		font-weight: bold;
		font-size: 50px;
    	display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 20px;
  }

  h3 {
    	color: #172C66;
    	font-family: 'Piazzolla', serif;
		font-weight: thin;
		font-size: 20px;
    	max-width: 100%;
    	display: flex;
		justify-content: center;
		align-items: center;
  }

  h4 {
    color: #F582AE;
    font-family: 'Ubuntu', serif;
	font-weight: thin;
	font-size: 40px;
    display: flex;
	justify-content: top;
	align-items: center;
	max-width: 80%;
	height: 100%;
  }

	.text-footer {
		text-align: center;
		padding: 30px 0;
		font-family: 'Ubuntu', sans-serif;
		display: flex;
		justify-content: center;
		color: white;
		margin-top: 1%;
		position: relative;
	}

	.text-footer::before {
		content: "";
		position: absolute;
		top: -20%;
		left: 0;
		right: 0;
		bottom: -5%;
		background-color: #fef6e4;
		z-index: -1;
	}

